.FlexContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.gridContainer {
  display: grid;
  background-color: pink;
  height: 100%;
  width: 100%;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TODO: check for screen width to modify grid rows/columns correctly */
