.projectTitle {
  display: flex;
  align-items: center;
  font-size: 2.25em;
  font-weight: bold;
  position: relative;
  width: 95%;
  text-decoration: none;
  border-bottom: 2px solid #344563;
  text-align: left;
  margin: 0;
}

.techList {
  font-size: 0.4em;
  font-weight: normal;
  color: #6b778c;
  margin-left: 0.75em;
}

.projectDescription {
  margin: 0.5em;
  text-indent: 2em;
}

.FlexContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: normal;
  min-height: 100%;
  min-width: 100%;
}

.gridContainer {
  display: grid;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  grid-template-columns: 40% 60%;
  grid-template-rows: 450px;
  align-items: center;
}

.imageContainer {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: auto;
  max-width: 80%;
  height: auto;
  max-height: 300px;
  object-fit: scale-down;
  border-radius: 5px;
  box-shadow: 15px 15px 7px 4px rgba(0, 0, 0, 0.3);
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkParent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ebecf0;
  background-color: #6b778c;
  font-size: auto;
  border-radius: 10px;
  padding: 5px;
  transition: background-color 0.25s, box-shadow 0.25s;
}

.link:hover {
  box-shadow: 8px 8px 4px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1000px) {
  .FlexContainer {
    margin-top: 0px;
  }
  .gridContainer {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  .descriptionContainer {
    margin-top: 0px;
  }
  .image {
    box-shadow: none;
  }
  .linkParent {
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
  }
}
