.parentDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebecf0;
  color: #344563;
  font-family: "Roboto", sans-serif;
}

.parentDivFirstTabSelected {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  height: 100%;
  background-color: #ebecf0;
  color: #344563;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.3);
  min-width: 100%;
}

.parentDivOutline {
  height: 94%;
}

@media (max-width: 600px) {
  .parentDivFirstTabSelected {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    background-color: #ebecf0;
    color: #344563;
    font-family: "Roboto", sans-serif;
    box-shadow: 0.5em 0.5em 1em -0.5em rgba(0, 0, 0, 0.3);
    min-width: 100%;
  }

  .parentDivOutline {
    height: auto;
  }
}
