.parentDiv {
  background-color: #ebecf0;
  color: #344563;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.3);
  min-width: 100%;
  /* navbar takes up remaining 6% */
  height: 94%;
}

@media (max-width: 600px) {
  .parentDiv {
    background-color: #ebecf0;
    color: #344563;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.3);
    min-width: 100%;
    height: auto;
    overflow-y: scroll;
  }
}
