.tabOneSelected {
  border-radius: 3em 3em 0 0;
  background-color: #ebecf0;
  display: flex;
  width: calc(100% / 3);
  justify-content: center;
  align-items: center;
  color: #344563;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
}
.tabOne {
  display: flex;
  width: calc(100% / 3);
  justify-content: center;
  align-items: center;
  color: #ebecf0;
  font-family: "Roboto", sans-serif;
  border-radius: 3em 3em 0 0;
}

.tabOne:hover {
  font-weight: bold;
}

.tabTwoSelected {
  border-radius: 3em 3em 0 0;
  background-color: #ebecf0;
  display: flex;
  width: calc(100% / 3);
  justify-content: center;
  align-items: center;
  color: #344563;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
}
.tabTwo {
  display: flex;
  width: calc(100% / 3);
  justify-content: center;
  align-items: center;
  color: #ebecf0;
  font-family: "Roboto", sans-serif;
  border-radius: 3em 3em 0 0;
}

.tabTwo:hover {
  font-weight: bold;
}

.tabThreeSelected {
  border-radius: 3em 3em 0 0;
  background-color: #ebecf0;
  display: flex;
  width: calc(100% / 3);
  justify-content: center;
  align-items: center;
  color: #344563;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
}
.tabThree {
  display: flex;
  width: calc(100% / 3);
  justify-content: center;
  align-items: center;
  color: #ebecf0;
  font-family: "Roboto", sans-serif;
  border-radius: 3em 3em 0 0;
}

.tabThree:hover {
  font-weight: bold;
}
