.activeTab {
  background-color: #ebecf0;
  display: flex;
  width: calc(100% / 3);
  justify-content: center;
  align-items: center;
  color: #344563;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.inactiveTab {
  display: flex;
  width: calc(100% / 3);
  justify-content: center;
  align-items: center;
  color: #ebecf0;
  font-family: "Roboto", sans-serif;
}

.tabUnderline {
  position: relative;
  text-decoration: none;
  border-bottom: 2px solid #0052cc;
}

.tabUnderlineAnimation {
  position: relative;
  color: #ebecf0;
  text-decoration: none;
}

.tabUnderlineAnimation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #ebecf0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.tabUnderlineAnimation:hover {
  font-weight: bold;
  transition-delay: 0.15s;
}

.tabUnderlineAnimation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
