.outerFlexContainer {
  background-color: #ebecf0;
  display: flex;
  height: 100%;
  width: 100%;
}

.innerFlexContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  overflow: hidden;
}

.itemFlexContainer {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  transition: transform 0.3s;
}

.buttonFlexContainer {
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 80%;
}

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
}

.arrow {
  background: None;
  color: #344563;
  border: none;
  cursor: pointer;
}

.arrow:hover {
  color: #0052cc;
}
