.outerFlexContainer {
  background-color: blue;
  display: flex;
  height: 100%;
  width: 100%;
}

.innerFlexContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
}

.leftArrow {
  background-color: green;
  height: 100%;
  width: 10%;
}

.rightArrow {
  background-color: purple;
  height: 100%;
  width: 10%;
}
